<br><br><br><br>
  <div class="container">   
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <!-- Nav tabs category -->
            <ul class="nav nav-tabs faq-cat-tabs">
                <li class="active"><a href="#faq-cat-1" data-toggle="tab">我發起的團購</a></li>
                <li><a href="#faq-cat-2" data-toggle="tab">我加入的團購</a></li>
                <li><a href="#faq-cat-3" data-toggle="tab">被邀請的團購</a></li>
            </ul>
    
            <!-- Tab panes -->
            <div class="tab-content faq-cat-content">

                <!--我發起的團購-->
                <div class="tab-pane active in fade" id="faq-cat-1">  
                   <table class="table table-list-search">
                    <thead>
                        <tr>
                            <th>相片</th>
                            <th>產品</th>
                            <th></th>
                            <th></th>
                            <th>開始/結束</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @products.each do |product| %>
                        <tr>
                            <td><img src="<%=product.pic%>" height="50" width="48"></td>
                            <td><%=link_to product.name, :controller => 'products', :action => 'show' ,:id => product%></td>
                            <td></td>
                            <td></td>
                            <td>
                              <button type="button" class="btn btn-labeled btn-success">
                                  <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>進行中
                              </button>
                            </td>
                          </tr>
                          <%end%>

                        <tr>
                            <td><img src="img/動物甜甜圈.jpg" height="50" width="48"></td>
                            <td>動物甜甜圈</td>
                            <td></td>
                            <td></td>
                            <td><button type="button" class="btn btn-labeled btn-success">
                                  <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>進行中
                              </button>
                            </td>
                        </tr>

                        <tr>
                            <td><img src="img/鮮奶蛋糕.jpg" height="50" width="48"></td>
                            <td><a href="product2.html">鮮奶蛋糕</a></td>
                            <td></td>
                            <td></td>
                            <td><button type="button" class="btn btn-labeled btn-danger">
                                 <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>已結束
                              </button>
                            </td>

                        </tr>


                      </tbody>
                </table>
                </div>
               <!--我發起的團購(結束)-->


               <!--我加入的團購-->
                <div class="tab-pane fade" id="faq-cat-2"> 
                 <table class="table table-list-search">
                    <thead>
                        <tr>
                            <th>相片</th>
                            <th>產品</th>
                            <th></th>
                            <th></th>
                            <th>開始/結束</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="img/抹茶泡芙.jpg" height="50" width="48"></td>
                            <td><a href="product4.html">抹茶泡芙</a></td>
                            <td></td>
                            <td></td>
                            <td>
                              <button type="button" class="btn btn-labeled btn-success">
                                  <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>進行中
                              </button>
                            </td>

                        </tr>
                        <tr>
                            <td><img src="img/抱枕.jpg" height="50" width="48"></td>
                            <td><a href="product5.html">抱枕</a></td>
                            <td></td>
                            <td></td>
                            <td><button type="button" class="btn btn-labeled btn-success">
                                  <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>進行中
                              </button>
                            </td>

                        </tr>
                        <tr>
                            <td><img src="img/玫瑰紅酒.jpg" height="50" width="48"></td>
                            <td>玫瑰紅酒</td>
                            <td></td>
                            <td></td>
                            <td><button type="button" class="btn btn-labeled btn-danger">
                                  <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>已結束
                              </button>
                            </td>
                        </tr>

                    </tbody>
                </table><!--/表格--> 
              </div>
              <!--我加入的團購(結束)-->

                   <!--被邀請的團購-->
                    <div class="tab-pane fade" id="faq-cat-3">
                         <table class="table table-list-search">

                    <thead>
                        <tr>
                            <th>相片</th>
                            <th>產品</th>
                            <th></th>
                            <th></th>
                            <th>開始/結束</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="img/熊熊和狗狗餅乾.jpg" height="50" width="48"></td>
                            <td><a href="product6.html">手工餅乾</a></td>
                            <td></td>
                            <td></td>
                            <td>
                              <button type="button" class="btn btn-labeled btn-success">
                                  <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>進行中
                              </button>
                            </td>

                        </tr>
                        <tr>
                            <td><img src="img/蔬菜餅乾.jpg" height="50" width="48"></td>
                            <td>蔬菜餅乾</td>
                            <td></td>
                            <td></td>
                            <td><button type="button" class="btn btn-labeled btn-danger">
                                 <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>已結束
                              </button>
                            </td>

                        </tr>
                        <tr>
                            <td><img src="img/布蕾.jpg" height="50" width="48"></td>
                            <td><a href="product8.html">布蕾</a></td>
                            <td></td>
                            <td></td>
                            <td><button type="button" class="btn btn-labeled btn-success">
                                  <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>進行中
                              </button>
                            </td>
                        </tr>

                      </tbody>
                </table>
                    </div>
                   
                   <!--被邀請的團購(結束)-->

                </div>
            </div>
          </div>
        </div>
    </div><!--/頁籤-->